:root{
    --primary-color:#82b440;
}
.navbar-toggler{
    background-color: white !important;
}
.buy-button{
    background-color: var(--primary-color) !important;
    color:white !important;
    border-radius: 5px;
    padding:10px 1.5vw !important;
    font-weight: 700;
}
.buy-button:hover{
    cursor:pointer !important;
    filter:brightness(110%);
}
.navbar{
    background-color: #313131 !important;
    position: fixed;
    top:0;
    width:100%;
    z-index:100
}
.navbrand-first{
    color:white !important;
}
.navbrand-second{
    color:var(--primary-color) !important;
}
.navbrand-logo{
    height:40px;
    width:40px;
}
.navbar-brand{
     font-size:2em;
}
